@model Vehicle

@if (Model.Mot.Count == 0)
{
    <h5>No MOT yet....</h5>
}
else
{
    <div class="card rounded shadow">
        <table class="table table-sm">
            <thead>
                <tr>           
                    <th>Date of MOT</th>
                    <th>Tester Name</th>  
                    <th>Test Status</th>       
                    <th>Test Report</th>
                    <th>Mileage</th>
                    <th>Action</th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var t in Model.Mot) {
                    <tr>              
                        <td>@t.DateOfMOT.ToShortDateString()</td>
                        <td>@t.TesterName</td>
                        <td>@t.TestStatus</td>
                        <td>@t.TestReport</td>
                        <td>@t.Mileage</td>
                         <td>
                    <!-- Add View link -->
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="view MOT details" asp-controller="Mot" asp-action="Details" asp-route-id=@t.Id><i class="bi bi-display"></i></a>  
                    <!-- Add edit link  -->
                    <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-controller="Mot" asp-action="Edit" asp-route-id=@t.Id><i class="bi bi-pen"></i></a>
                    <!-- Add delete link -->
                    <a asp-condition=@User.IsInRole("admin") asp-controller="Mot" asp-action="Delete" asp-route-id=@t.Id><i class="bi bi-trash"></i></a>
                </td>  
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}