@model Vehicle

@if (Model.Mot.Count == 0)
{
    <h5>No MOT yet....</h5>
}
else
{
    <div class="card rounded shadow">
        <table class="table table-sm">
            <thead>
                <tr>           
                    <th>Date of MOT</th>
                    <th>Tester Name</th>  
                    <th>Test Status</th>       
                    <th>Test Report</th>
                    <th>Mileage</th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var t in Model.Mot) {
                    <tr>              
                        <td>@t.DateOfMOT</td>
                        <td>@t.TesterName</td>
                        <td>@t.TestStatus</td>
                        <td>@t.TestReport</td>
                        <td>@t.Mileage</td>  
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}