@model Vehicle
<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/vehicle","Vehicles"),
    ($"/vehicle/details/{Model.Id}",$"{Model.Id}"),
    ("","Details")
}) />
<h3 class="mt-4 mb-4">Vehicle Details</h3>
<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">
            <dt class="col-5">Make</dt>
            <dd class="col-7">@Model.Make</dd>

            <dt class="col-5">Model</dt>
            <dd class="col-7">@Model.Model</dd>
            
            <dt class="col-5">Year</dt>
            <dd class="col-7">@Model.Year</dd>
            
            <dt class="col-5">Registration No</dt>
            <dd class="col-7">@Model.RegistrationNo</dd>

            <dt class="col-5">Fuel Type</dt>
            <dd class="col-7">@Model.FuelType</dd>

            <dt class="col-5">Transmission</dt>
            <dd class="col-7">@Model.Transmission</dd>

            <dt class="col-5">CC</dt>
            <dd class="col-7">@Model.CC</dd>

            <dt class="col-5">NoofDoors</dt>
            <dd class="col-7">@Model.NoofDoors</dd>

            <dt class="col-5">CC</dt>
            <dd class="col-7">@Model.FuelType</dd>

            <dt class="col-5">MOTDue</dt>
            <dd class="col-7">@Model.MOTDue</dd>

            <dt class="col-5">CarPhotoUrl</dt>
            <dd class="col-7">@Model.CarPhotoUrl</dd>
        </dl>

        <!-- use flex box to separate two divs containing primary actions on left and danger action on right -->
        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>
              
                <!-- navigation link to CreateTicket action, passing correct route parameter -->
                <a asp-action="MotCreate" asp-route-id="@Model.Id" class="btn btn-sm btn-primary"><i
                        class="bi bi-bag-plus"></i> Add MOT</a>          

                <!-- navigation link to Details action, passing the correct route id parameter -->
                <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-controller="Vehicle" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i
                        class="bi bi-pen"></i> Edit</a>

                <!-- navigation link to redirect to Index action -->
                <a asp-controller="Vehicle" asp-action="Index" class="btn btn-sm btn-link"><i class="bi bi-list"></i>
                    Vehicle</a>

            </div>

            <div>
                <!-- toggle display of Delete Modal -->
                <button asp-condition=@(User.IsInRole("admin")) type="button" class="btn btn-sm btn-danger" 
                        data-bs-toggle="modal" data-bs-target="#deleteVehicleModal">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
    <!-- Photo -->
    <div class="col-4">
        <img src="@Model.CarPhotoUrl" class="img-fluid">
    </div>
</div>

<!-- Mot -->
<div class="row pt-3">
    <partial name="_Mot" />
</div>

<!-- Delete Modal -->
<partial name="_DeleteModal" />