@model Mot
<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/mot","Mots"),
    ($"/mot/details/{Model.Id}",$"{Model.Id}"),
    ("","Delete")
}) />



<h3 class="mt-4 mb-4">Delete MOT</h3>

<h4 class="mb-4">Are you sure you want to delete this MOT?</h4>

<div>
    <div class="col card rounded shadow p-3">
        <dl class="row">       
           <dt class="col-5">Id</dt>
            <dd class="col-7">@Model.Id</dd>

            <dt class="col-5">Tester Name</dt>
            <dd class="col-7">@Model.TesterName</dd>

            <dt class="col-5">Test Status</dt>
            <dd class="col-7">@Model.TestStatus</dd>

            <dt class="col-5">Test Report</dt>
            <dd class="col-7">@Model.TestReport</dd>

            <dt class="col-5">Mileage</dt>
            <dd class="col-7">@Model.Mileage</dd>
            
        </dl>
    </div>

    <div class="mt-4">
        <form asp-action="MotDeleteConfirm" type="post">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Confirm" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="Vehicle" asp-action="Details" >Cancel</a>
        </form>
    </div>
    
</div>