@model Mot

<!-- Breadcrumbs using partial view -->
<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/vehicle", "Vehicle"), ("","Close") })>
    
<div class="col card rounded shadow-lg p-4">

    <h3 class="mb-4">MOT Details</h3>

    <!-- TBC - use a dl to display the MOT details -->

    <div class="row">
    <!-- Details -->
    <div class="col-8">
        <dl class="row">
            <dt class="col-5">Id</dt>
            <dd class="col-7">@Model.Id</dd>

            <dt class="col-5">Date of MOT</dt>
            <dd class="col-7">@Model.DateOfMOT.ToShortDateString()</dd>

            <dt class="col-5">Tester Name</dt>
            <dd class="col-7">@Model.TesterName</dd>

            <dt class="col-5">Test Status</dt>
            <dd class="col-7">@Model.TestStatus</dd>

            <dt class="col-5">Test Report</dt>
            <dd class="col-7">@Model.TestReport</dd>

            <dt class="col-5">Mileage</dt>
            <dd class="col-7">@Model.Mileage</dd>

         </dl>
     
</div>

    <div class="mt-4">           
       
        <!-- TBC - add a button to toggle the close MOT modal (_CloseModal.cshtml) -->
         <button asp-condition=@User.HasOneOfRoles("admin, manager")  class="btn btn-sm btn-danger" asp-action="Delete">
                    <i class="bi bi-red"></i> Delete
        </button>

        <a class="btn btn-link" asp-controller="Vehicle" asp-route-id="@Model.Vehicle.Id" asp-action="Details">Cancel</a>
    </div>

</div> 

<partial name="_CloseModal"/>
